<div class="container-fluid h-100">
  <div id="store-tabs" class="row justify-content-center d-flex align-items-center">
    <div class="col-4 mt-2">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <%= link_to 'Movies', store_path(type: :movies), class: active_type?('movies') %>
        </li>
        <li class="nav-item">
          <%= link_to 'Seasons', store_path(type: :seasons), class: active_type?('seasons') %>
        </li>
      </ul>
    </div>
  </div>
  <% @items.each_with_index do |item, index| %>
    <% if index % 2 == 0 %>
      <div class="row pb-2 pt-2">
        <div class="col-6 align-self-start h-100">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><%= item.title %></h5>
              <p class="card-text"><%= item.plot.truncate(150) %></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <% if !@items[index + 1].nil?%>
          <div class="col-6 align-self-end h-100">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title"><%= @items[index + 1].title %></h5>
                <p class="card-text"><%= @items[index + 1].plot.truncate(150) %></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="row justify-content-center pt-2">
    <div class="col-6">
      <%= paginate @items %>
    </div>
  </div>