<!DOCTYPE html>
<html>
  <head>
    <title>ChillPlace</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row h-100 justify-content-center">
        <div class="col-6 align-self-center">
          <div class="card p-3 card-box-shadow">
            <%= image_tag 'chill-place', class: 'card-img-top w-50 h-50 align-self-center' %>
            <h4 class="pt-3 pb-3 align-self-center m-0">
              <em>Your place to cool
                <i class="fas fa-arrow-down"></i>
              </em>
            </h4>
            <div class="card-body">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>